<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% if title %}
	<title>{{ title }} - Where's My Money</title>
	{% else %}
	<title>Where's My Money</title>
	{% endif %}
	<meta name="description" content="Landing page for the Where's My Money budgeting app.">
	<meta name="author" content="Cat Built Web">

	<link rel="icon" href="/favicon.ico">
	<link rel="icon" href="/favicon.svg" type="image/svg+xml">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<!--<link rel="stylesheet" href="css/styles.css?v=1.0">-->

</head>

<body>
	<nav>
		<ul>
			<li><a href="{{ url_for('index') }}">Home</a></li>
			<li><a href="{{ url_for('add_bank_account') }}">Add Bank Account</a></li>
			<li><a href="{{ url_for('transactions_assign') }}">Assign Transactions a Category</a></li>
			<li><a href="{{ url_for('upload') }}">Upload Transactions</a></li>
			<li><a href="{{ url_for('add_category') }}">Add Category</a></li>
			<li><a href="{{ url_for('add_category_group') }}">Add Category Group</a></li>
			<li><a href="{{ url_for('budgets') }}">Budgets</a></li>
		</ul>
	</nav>
	<hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
	{% block content %}{% endblock %}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>



